*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2d2d2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.contenedor{

    width: 80%;
    height: 80vh;
    background-color: #222;
    margin: 0 auto;
}

.item{
    background-color: #666;
    border: solid 1px #999;
    font-size: 1.5rem;
    padding: 1rem;
}

.flujo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-auto-flow: row;
    grid-auto-flow: column;
    grid-auto-flow: dense;
}

.item:nth-child(3){
    background-color: coral;
    grid-row: span 2;
}

.item:nth-child(6){
    background-color: rgb(147, 80, 255);
    grid-row: span 2;
}