*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2d2d2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 80%;
    height: 100vh;
    background-color: #222;
    margin: 0 auto;
}

.item{
    background-color: #666;
    height: 200px;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 3px;
}


.galeria img{
    width: 100%;
    height: 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    object-fit: cover;

}