*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2d2d2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 80%;
    height: 80vh;
    background-color: #222;
    margin: 0 auto;
}

.item{
    background-color: #666;
    border: solid 1px #999;
    font-size: 1.5rem;
}

.alineamiento{
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(5, 200px);

    justify-items:center;
    align-items: center;

}