*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2d2d2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 40%;
    height: 50vh;
    background-color: #222;
    margin: 0 auto;
}

.item{
    background-color: #666;
    border: solid 1px #999;
    font-size: 1.5rem;
    padding: 1rem;
}

.capas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  padding: 20px;
}

.celda {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.texto-superpuesto {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}
